:root {
  --background: midnightblue;
  --foreground: white;
  --font-concert: "Concert One", system-ui;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-concert);
}

body {
  margin: 0;
}

.rootlayout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}
